<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>Mongo Scavenger Hunt</h1>

<h4>
  Challenges:
  <ul>
    <li>
      <h3><a href='/jeopardy'>Jeopardy Questions</a></h3>
      <ul>
        <li>Modify the server code so that selecting a value finds questions of <em>greater-than-or-equal</em> value.</li>
        <li>Change the search results page so that it displays the search term.</li>
        <li>Change the search results page so that it keeps the search term displayed in the search `input` field.</li>
        <li>
          Add a search field to the form to allow someone to search for a question by its <em>answer</em>.
        </li>
        <li>***Change the search results so that the <em>value</em> searched for stays shown in the value dropdown.</li>
      </ul>
    </li>
    <li>
      <h3><a href='/emails'>Enron Emails</a></h3>
      <ul>
        <li>Display the body (text) of each email</li>
        <li>Display the recipient(s) of each email</li>
        <li>Display the date of each email</li>
        <li>Make the "next page" link work properly (should show 25 emails on each page, and should keep going to more pages, not just page 2 every time)</li>
        <li>Make the "next page" link disappear if there are no more emails to show on the next page</li>
        <li>**Add a "previous page" link that disappears when there is no previous page</li>
        <li>Change the sorting of the emails so that newer emails appear first, and higher page numbers show emails further in the past</li>
        <li>Add a form that allows searching for emails by text in their subject.</li>
        <li>Extra credit: Find the most incriminating email.</li>
      </ul>
    </li>
    <li>
      <h3><a href='/people'>Famous People and colors</a></h3>
      <ul>
        <li>Make the page show a list of people. Each person's name should be a link to a page showing just that person.</li>
        <li>**Complete/change the server.js code so that clicking on an individual person loads their favorite color (by its id) and displays it.</li>
      </ul>
    </li>
  </ul>
</h4>

</body>
</html>
